<h2>Ajouter joueur</h2>
<form (ngSubmit)="register()" [formGroup]="playerForm">
  <div class="form-input">
    <label for="type">Type</label>
    <select formControlName="type" id="type">
      <option *ngFor="let type of types" [value]="type.value">{{type.text}}</option>
    </select>
  </div>

  <div class="form-info" *ngIf="typeCtrl.dirty && typeCtrl.hasError('required')">
    Le type est requis
  </div>

  <div class="form-input">
    <label>Nom</label>
    <input formControlName="name">
  </div>

  <div class="form-info" *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">
    Le nom est requis
  </div>
  <div class="form-info" *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">
    Le nom est doit faire plus de 2 caractères
  </div>

  <div class="form-input">
    <label>URL</label>
    <input formControlName="url">
  </div>

  <div class="form-info" *ngIf="urlCtrl.dirty && urlCtrl.hasError('required')">
    L'URL est requise
  </div>
  <div class="form-info" *ngIf="urlCtrl.dirty && urlCtrl.hasError('minlength')">
    L'URL doit faire au minimum 7 caractères
  </div>

  <div class="form-input">
    <label for="difficulty">Difficulté</label>
    <select formControlName="difficulty" id="difficulty">
      <option *ngFor="let difficulty of difficulties" [value]="difficulty.value">{{difficulty.text}}</option>
    </select>
  </div>

  <div class="form-info" *ngIf="difficultyCtrl.dirty && difficultyCtrl.hasError('required')">
      La difficulté est requise
  </div>

  <button type="submit" [disabled]="!playerForm.valid">
    Ajouter {{ nameCtrl.value }}
  </button>
</form>
