<form (ngSubmit)="register()" [formGroup]="gameForm">
  <div class="form-input">
    <label for="playerOne">Joueur 1</label>
    <select formControlName="playerOne" id="playerOne">
      <option *ngFor="let playerOne of players" [value]="playerOne.name">{{playerOne.name}}</option>
    </select>
  </div>

  <div class="form-input">
    <label for="playerTwo">Joueur 2</label>
    <select formControlName="playerTwo" id="playerTwo">
      <option *ngFor="let playerTwo of players" [value]="playerTwo.name">{{playerTwo.name}}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!gameForm.valid">Ajouter</button>
</form>
