@import "../../global";

#board {
  margin: 1%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;

  .board-img {
    width: 90%;
  }
}

.row {
  flex: 1;

  display: flex;
  flex-direction: row;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: $secondary;
  color: white;
}
