#board {
  border: 1px solid #000000;
}

.row {
  display: flex;
  justify-content: space-around;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.black:hover {
  background-color: #333333;
}
