<aside class="aside">
  <div class="menu">
    <div class="menu-item" [class.selected]="isTournamentSelected()" (click)="showTournaments()">Tournois</div>
    <div class="menu-item" [class.selected]="!isTournamentSelected()" (click)="showGames()">Parties</div>
  </div>
  <ul class="tournaments">
    <li *ngFor="let item of menuItems" (click)="gameAsideIsOpened = true;">{{ item.name }}</li>
  </ul>
</aside>

<div class="games" [ngClass]="{open: gameAsideIsOpened}">
  <div class="back" (click)="gameAsideIsOpened = false;">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let game of games" (mouseenter)="bubble($event)" (mousemove)="bubble($event)">{{game}}</li>
    </ul>
  </div>
</div>

<app-bubble *ngIf="gameAsideIsOpened"></app-bubble>
