@import "../../styles";
@import "../../colors";

.menu {
  display: flex;
  flex-direction: row;

  .menu-item {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: $accent-color-light;
    color: $primary-color-light;
    text-transform: uppercase;
    position: relative;
  }

  .menu-item::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 5px;
    background-color: $primary-color;
    content: "";
    transition: width 0.5s;
  }

  .selected {
    background: $accent-color;
    color: $primary-color;
  }

  .selected::after {
    width: 100%;
  }
}

aside {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;

  background: $accent-color;

  .info {
    background: $primary-color;
    padding: 1rem;
    text-align: center;
    color: $accent-color;
  }

  li {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    line-height: 50px;

    a {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;

      &.active {
        background: $primary-color;
        color: $primary-text-color;
      }
    }

    .aside-text {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-left: 10px;
    }

    &:hover {
      background-color: $primary-color;
      color: $primary-text-color;
    }
  }
}
