<aside class="aside">
  <div class="menu">
    <div class="menu-item" [class.selected]="_tournamentsSelected" (click)="showTournaments()">Tournois</div>
    <div class="menu-item" [class.selected]="_gamesSelected" (click)="showGames()">Parties</div>
    <div class="menu-item" [class.selected]="_playersSelected" (click)="showPlayers()">Joueurs</div>
  </div>

  <ul class="list">
    <li *ngFor="let item of _menuItems" (click)="gameAsideIsOpened = true;">{{ item.name }}</li>
  </ul>

  <div *ngIf="_playersSelected">
    <app-register-player (onSubmit)="showPlayers()"></app-register-player>
  </div>
</aside>

<div class="games" [ngClass]="{open: gameAsideIsOpened}">
  <div class="back" (click)="gameAsideIsOpened = false;">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let game of games" (mouseenter)="bubble($event)" (mousemove)="bubble($event)">{{game}}</li>
    </ul>
  </div>
</div>

<app-bubble *ngIf="gameAsideIsOpened"></app-bubble>
